main {
  width: 100%;
  height: 100%;
  background-color: var(--c-principal-othe);
  padding: 5px;
  .search {
    width: 100%;
    height: 60px;

    .card {
      height: 40px;
      padding: 5px;
      background-color: transparent;
      border: 2px solid var(--main-light-3);
      position: relative;
      border-radius: 5px;
      margin: 5px;
      label {
        background-color: var(--c-principal-othe);
        font-size: 14px;
        color: white;
        padding: 2px;
        position: absolute;
        top: -9px;
      }
      input {
        width: 100%;
        height: 100%;
        color: white;
        border: none;
        background-color: var(--c-principal-othe);
        font-size: 14px;
        &:focus {
          outline: none;
        }
      }
    }
  }
  .list {
    width: 100%;
    height: calc(100% - 70px);
    overflow-y: scroll;
    background-color: var(--main-2);
    .grid {
      width: 100%;
      grid-template-rows: 100%;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-areas: "name numero";
      border-bottom: 1px solid var(--main-1);

      &.columns-head {
        color: whitesmoke;
        height: 40px !important;
      }
      &__name,
      &__numero {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__name {
        grid-area: name;
      }

      &__numero {
        grid-area: numero;
      }
      &.items {
        margin: 0;
        padding: 0;
        font-size: 14px;
        height: 30px !important;
      }
    }
    .grid {
      > span {
        border-bottom: 1px solid black;
        color: white;
        text-align: center;
      }
    }
    .serieSelected {
      background: var(--warning) !important;
      span {
        color: black !important;
      }
    }
  }
}
