main {
  width: 100%;
  height: 100%;
  background-color: var(--main-white);
  border-radius: 10px;
  padding: 10px;
  .header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    div {
      width: 100%;
      height: 40px;
      background-color: var(--main-blue);
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border: none;
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 100%;
        color: white;
      }
    }
    button {
      width: 220px;
      height: 40px;
      padding: 5px;
      background-color: var(--success-main);
      display: flex;
      border-radius: 5px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      font-weight: bold;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      ion-icon {
        margin-right: 5px;
        font-size: 25px;
      }
    }
    .headerSelected {
      background-color: var(--marine-water);
      color: rgb(12, 10, 10) !important;
      border-radius: 5px;
    }
  }

  .section-filter {
    width: 100%;
    height: calc(100% - 60px);
    padding: 10px 0px;
    .form {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      .card {
        width: 100%;
        height: 40px;
        padding: 5px;
        background-color: transparent;
        border: 2px solid var(--main-blue);
        position: relative;
        border-radius: 5px;
        margin: 5px;
        label {
          background-color: var(--main-white);
          font-size: 14px;
          color: var(--main-blue);
          padding: 2px;
          position: absolute;
          top: -11px;
          display: flex;
          align-items: center;
          ion-icon {
            font-size: 17px;
            margin-right: 3px;
          }
        }
        input {
          width: 100%;
          height: 100%;
          color: var(--main-blue);
          border: none;
          background-color: var(--main-white);
          font-size: 14px;
          &:focus {
            outline: none;
          }
        }
        &.selector {
          --border-radius: 0px !important;
          --width: 70%;
          --height: 300px;
        }
      }
    }
    .list {
      width: 100%;
      height: calc(100% - 70px);
      margin-top: 10px;
      display: grid;
      border-radius: 5px;
      align-content: flex-start;
      overflow-y: scroll;
      .grid {
        width: 100%;
        height: 100%;
        grid-template-rows: auto;
        display: grid;
        grid-template-columns: 50px 100px minmax(300px, 1fr) minmax(300px, 1fr) 150px 150px 150px 150px 150px;
        grid-template-areas: "arrow estado org title prefijo desde hasta correlativo buttons";
        &__org,
        &__title,
        &__buttons,
        &__prefijo,
        &__desde,
        &__hasta,
        &__correlativo,
        &__arrow,
        &__estado {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &__org {
          grid-area: org;
        }
        &__title {
          grid-area: title;
        }
        &__buttons {
          grid-area: buttons;
        }
        &__prefijo {
          grid-area: prefijo;
        }
        &__desde {
          grid-area: desde;
        }
        &__hasta {
          grid-area: hasta;
        }
        &__correlativo {
          grid-area: correlativo;
        }
        &__estado {
          grid-area: estado;
        }
        &__arrow {
          grid-area: arrow;
        }
        &:nth-child(odd) {
          width: 100%;
        }
        &:nth-child(even) {
          width: 100%;
        }
        &.columns-head {
          height: 40px !important;
          font-size: 13px;
          padding: 7px;
          span {
            color: var(--main-blue);
            font-weight: bold;
          }
        }
        &.items {
          margin: 0;
          padding: 7px;
          font-size: 11px;
          height: auto;
          border-bottom: 1px solid var(--main-light-3);
          span {
            color: var(--main-blue) !important;
          }
        }
        span {
          text-align: center;
          width: auto;
          select {
            border: none;
            background-color: transparent;
            color: white;
            padding: 5px 10px;
          }
          ion-icon {
            font-size: 17px;
          }
          .addbutton {
            padding: 1px;
            border-radius: 2px;
            background-color: var(--success-main);
            display: flex;
            justify-content: center;
            align-items: center;
          }
          div {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 !important;
            width: 20px;
            height: 20px !important;
            border-radius: 5px;
            font-size: 11px;
            // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
            //   0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            p {
              margin: 0;
              padding: 5px;
              border-radius: 10px;
            }
          }
          .active {
            background: var(--success-main);
          }
          .noActive {
            background: var(--danger);
          }
        }
        .childs {
          padding: 5px;
          margin-left: 50px;
          // position: static;
          // display: block;
          width: 100%;
          .gridd {
            width: 100%;
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr) 200px 200px 200px;
            grid-template-areas: "name description type prefix suffix";
            border-radius: 5px 5px 0px 0px;

            &__name,
            &__description,
            &__type,
            &__prefix,
            &__suffix {
              display: flex;
              justify-content: center;
              align-items: center;
            }
            &__name {
              grid-area: name;
            }
            &__description {
              grid-area: description;
            }
            &__type {
              grid-area: type;
            }
            &__prefix {
              grid-area: prefix;
            }
            &__suffix {
              grid-area: suffix;
            }
          }
          .columns-head-sucursal {
            color: whitesmoke;
            font-size: 12px !important;
            .head {
              color: black !important;
              height: 30px !important;
              font-weight: bold;
              background-color: var(--main-light-4) !important;
              border-bottom: 1px solid var(--main-light-2);
            }
          }
          .subitem {
            background-color: var(--main-light-4) !important;
            border-bottom: 1px solid var(--main-light-2);
            height: 25px !important;
            color: black !important;
            font-size: 11px !important;
          }
        }
        .printed {
          background: var(--success-main);
        }
        .noPrinted {
          background: var(--ion-color-danger);
        }
      }
      .columns6 {
        grid-column: span 6;
      }
      .productSelected {
        background-color: var(--ion-color-warning) !important;
        span {
          color: white !important;
        }
      }
    }
  }
}
