<section class="main home">
  <div class="content-img">
    <img
      src="assets/images/galery/4.svg"
      alt="Facturación Digital"
      loading="lazy"
    />
  </div>
  <div class="info">
    <span class="title">Imprenta Digital</span>
    <span class="seniat"
      >Impulsa tu negocio con nuestra solución de facturación digital.</span
    >
    <p>
      <fa-icon [icon]="clockIcon"></fa-icon>
      Automatiza tus procesos, reduce errores y mejora la eficiencia
    </p>
    <p>
      <fa-icon [icon]="desktopIcon"></fa-icon>
      Administra tu negocio desde cualquier dispositivo y lugar.
    </p>
    <p>
      <fa-icon [icon]="downloadIcon"></fa-icon>
      Contamos con soporte para documento electrónico, lo que garantiza una
      gestión más ágil y eficiente.
    </p>
  </div>
</section>
