<main>
  <section class="header">
    <div class="card">
      <span>GENERAR LIBRO DE VENTA</span>
    </div>
  </section>
  <section class="section-form">
    <div class="form">
      <!-- <div 
      class="card groupItems" 
      >
        <label>Tipo</label>
        <select         
          #typevalue
          [(ngModel)]="form.type"
        >
          <option value="Todos" selected>Todos</option>
          <option value="Solo propios">Solo propios</option>
          <option value="Solo terceros">Solo terceros</option>
        </select>    
      </div> -->

      <!-- <div class="card selector">
        <label>Fecha Desde:</label>
        <input
          type="datetime-local"
          placeholder="Fecha Desde"
          [(ngModel)]="form.fechaInicio"
          (change)="onInicioDateChange($event)"
        />
      </div>

      <div class="card selector">
        <label>Fecha Hasta:</label>
        <input
          type="datetime-local"
          placeholder="Fecha gasta"
          [(ngModel)]="form.fechaFin"
          (change)="onFinDateChange($event)"
        />
      </div> -->
      <div class="card selector">
        <label>Seleccionar Mes:</label>
        <input
          type="month"
          [(ngModel)]="form.mesSeleccionado"
          (change)="onMonthChange($event)"
        />
      </div>

      <!-- <div 
      class="card groupItems" 
      >
        <label>Sucursales</label>
        <select         
          #typevalue
          [(ngModel)]="form.sucursal"
        >
          <option value="" selected></option>
        </select>    
      </div>

      <div 
      class="card groupItems" 
      >
        <label>Series</label>
        <select         
          #typevalue
          [(ngModel)]="form.serie"
        >
          <option value=""></option>
        </select>    
      </div> -->

      <!-- <div 
      class="card groupItems" 
      >
        <label>Tipo de Documento</label>
        <select         
          #typevalue
          [(ngModel)]="form.rif_type"
        >
          <option value="VENEZOLANO" selected>VENEZOLANO</option>
          <option value="EXTRANJERO">EXTRANJERO</option>
          <option value="JURÍDICO">JURÍDICO</option>
          <option value="PASAPORTE">PASAPORTE</option>
          <option value="GUBERNAMENTAL">GUBERNAMENTAL</option>
          <option value="COMUNAL">COMUNAL</option>
        </select>    
      </div> -->
    </div>
  </section>
  <section class="section-footer">
    <!-- <button class="view" (click)="getAllDocument('view')">
      <ion-icon name="eye"></ion-icon>
      <span>VISUALIZAR</span>
    </button> -->
    <button class="download" (click)="getAllDocument('print')">
      <ion-icon name="arrow-down-circle"></ion-icon>
      <span>DESCARGAR</span>
    </button>
  </section>
</main>
