main {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "top-menu"
    "main-content";
  height: 100vh;

  background-color: var(--main-light-4);
  overflow: hidden;
  .top-menu {
    grid-area: top-menu;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-white);
    color: white;
    padding: 5px 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.12);
    margin: 10px 10px 0px 10px;
    border-radius: 5px;
    position: relative;
    z-index: 100;
    border-bottom: 1px solid rgb(202, 202, 202);
    div {
      display: flex;
      align-items: center;
      width: 100%;
    }
    img {
      margin: 0px 0px;
      width: 80px;
      height: 40px;
      margin-top: -4px;
    }
    .title {
      h1 {
        margin-left: 10px;
      }
      .call {
        margin-left: 10px;
        padding: 10px;
        background-color: var(--main-blue);
        border-radius: 50%;
        ion-icon {
          color: white;
          font-size: 20px;
        }
      }
    }
    .user {
      justify-content: flex-end;
      button {
        padding: 8px;
        background-color: var(--main-blue);
        border-radius: 50%;
        margin-right: 7px;
        ion-icon {
          color: white;
          font-size: 20px;
        }
      }
      div {
        width: auto;
        display: flex;
        height: 40px;
        padding: 8px;
        background-color: var(--main-blue);
        border-radius: 20px;
        cursor: pointer;

        ion-icon {
          color: white;
          font-size: 20px;
          margin-right: 3px;
        }
        p {
          color: white;
        }
      }
    }
    .menu-toggle {
      width: 40px;
      height: 35px;
      background-color: var(--main-blue);
      color: white;
      cursor: pointer;
      font-size: 25px;
      padding: 5px;
      display: flex;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
    }
    .app-title {
      margin: 0;
      font-size: 16px;
    }
  }
  .content-main {
    grid-area: main-content;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 0;
    padding: 10px 10px 0px 10px;
    .content-filter {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--main-1);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.12);
      padding: 10px;
      border-radius: 5px;
      .card {
        width: 99%;
        height: 40px;
        padding: 5px;
        background-color: transparent;
        border: 2px solid var(--main-white);
        position: relative;
        border-radius: 5px;
        position: relative;
        z-index: 100;
        margin: 5px;
        label {
          background-color: var(--main-1);
          font-size: 14px;
          color: var(--main-white);
          padding: 0px;
          position: absolute;
          top: -8px;
          display: flex;
          align-items: center;
          ion-icon {
            font-size: 17px;
            margin-right: 3px;
          }
        }
        input {
          width: 100%;
          height: 100%;
          color: var(--main-white);
          border: none;
          background-color: var(--main-1);
          font-size: 14px;
          &:focus {
            outline: none;
          }
        }
        &.selector {
          --border-radius: 0px !important;
          --width: 70%;
          --height: 300px;
          input[type="datetime-local"]::-webkit-calendar-picker-indicator {
            filter: brightness(1); /* Convierte el icono a negro puro */
          }
        }
      }
    }
    .content-contribuyentes {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: space-around;
      align-content: flex-start;
      align-items: center;
      overflow-y: scroll;
      flex: 1; // Ocupa todo el espacio disponible
      min-height: 0; // Importante para el scroll
      grid-template-columns: repeat(
        auto-fill,
        minmax(240px, 1fr)
      ); // Grid responsivo
      //gap: 10px;
      overflow-y: auto; // Scroll vertical
      padding-bottom: 10px; // Espacio para el scroll
      margin: 10px 0px;
      .card-contribuyente {
        height: 180px;
        background-color: var(--main-white);
        border: none;
        border-radius: 10px;
        margin: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.12);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        position: relative;
        cursor: pointer;
        .content-logo {
          width: 100%;
          height: 70px;
          padding: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px 10px 0px 0px;
          background-color: var(--main-2);
          ion-icon {
            color: var(--main-white);
            font-size: 20px;
          }
        }
        .content-info {
          width: 100%;
          height: calc(100% - 70px);
        }
        p {
          font-size: 12px;
          color: var(--main-blue);
        }
        .rif {
          font-weight: bold;
        }
        &:hover {
          transform: translateY(-2px) scale(1.02) rotate(1deg);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
          z-index: 10; /* Asegura que la card elevada esté sobre las demás */
          transition: 0.2s;
        }
        .fiscalizado {
          position: absolute;
          right: 0;
          top: 0;
          margin: 3px 3px 0px 0px;
          padding: 2px;
          border-radius: 10px;
          background-color: var(--warning);
          z-index: 99;
        }
        &.abc {
          background-color: var(--main-1);
          ion-icon,
          p {
            color: white;
          }
        }
      }
    }

    .content-out {
      width: 100%;
      height: 50px;
      flex-shrink: 0;
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--danger);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.12);
        position: relative;
        border-radius: 10px;
        z-index: 100;
        height: 45;
        padding: 0px 25px;
        transition: transform 0.3s ease, box-shadow 0.4s ease;
        ion-icon {
          font-size: 25px;
        }
        p {
          font-size: 14px;
          margin-left: 3px;
        }
        &:hover {
          transform: scale(1.05);
          box-shadow: 0 8px 25px rgba(19, 43, 57, 0.2);
        }
      }
    }
  }
}
