<section class="main home rigth">
  <div class="info">
    <span class="title">Elige la seguridad y la confianza</span>
    <span class="seniat"
      >Protege tu negocio y evita sanciones fiscales. Nuestra facturación
      digital está respaldada por la autorización SENIAT/INTI/0012.</span
    >
    <button>
      <fa-icon [icon]="sendIcon"></fa-icon>
      <p>Contáctanos</p>
    </button>
  </div>
  <div class="content-img">
    <img
      src="assets/images/galery/7.svg"
      loading="lazy"
      alt="Facturación Digital"
    />
  </div>
</section>
