<footer class="footer">
  <section class="container">
    <div class="media">
      <img
        src="assets/images/common/logo.svg"
        alt="ABC Printing digital"
        loading="lazy"
      />
      <span
        >Toma el control de tus finanzas con nuestra solución de facturación
        digital. Facturación sencilla y seguimiento preciso de tus gastos</span
      >
      <div class="social-icons">
        <!-- Facebook -->
        <a href="#" aria-label="Facebook">
          <img
            src="assets/icons/facebook.svg"
            alt="Facebook"
            width="24"
            loading="lazy"
          />
        </a>

        <!-- Instagram -->
        <a href="#" aria-label="Instagram">
          <img
            src="assets/icons/instagram.svg"
            alt="Instagram"
            width="24"
            loading="lazy"
          />
        </a>

        <!-- WhatsApp -->
        <a href="#" aria-label="WhatsApp">
          <img
            src="assets/icons/whatsapp.svg"
            alt="WhatsApp"
            width="24"
            loading="lazy"
          />
        </a>
      </div>
    </div>
    <div class="submenu">
      <nav>
        <a routerLink="/">Home</a>
        <a routerLink="/documentation">Documentación</a>
        <a href="http://demoportal.abcdigitalprinting.com/">Imprenta Digital</a>
      </nav>
      <div class="img-footer">
        <img src="assets/images/galery/footer.svg" alt="" loading="lazy" />
      </div>
    </div>
  </section>
  <section class="copyright">
    <p>2025 ABC Printing Digital C.A ©. Todos los derechos reservados 2025.</p>
  </section>
</footer>
