.content-modal{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    ion-card{
        width: 100%;
        height: 60px;
        --background: var(--marine-water);
        display: flex;
        margin: 0;
        margin-top: 10px;
        div{
            width: 100%;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            text-align: center;
            span{
                padding: 5px;
                margin: 0;
                color: white;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                ion-icon{
                    font-size: 20px;
                    margin-right: 5px;
                }
                p{
                    padding: 0;
                    margin: 0;
                }
                .whatsapp{
                    color: var(--success-main);
                }
            }
        }
        .title{
            border-right: 1px solid var(--main-light-3);
            span{
                font-size: 16px;
                font-weight: bold;
            }
        }
        .info{
            span{
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
}