<ion-header class="headerModal">
  <ion-toolbar>
    <img src="../../../assets/img/logo2.png" alt="" slot="start" />
    <ion-title slot="start">Contacto</ion-title>
    <ion-icon name="close-outline" slot="end" (click)="closeModal()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <main class="content-modal">
    <ion-card>
      <div class="title">
        <span>
          <p>NUEVA ESPARTA</p>
        </span>
      </div>
      <div class="info">
        <span>
          <ion-icon name="call"></ion-icon>
          <p>+58 412-0941616</p>
          <ion-icon name="logo-whatsapp" class="whatsapp"></ion-icon>
        </span>
      </div>
    </ion-card>
    <ion-card>
      <div class="title">
        <span>
          <p>ANZOATEGUI</p>
        </span>
      </div>
      <div class="info">
        <span>
          <ion-icon name="call"></ion-icon>
          <p>+58 412-0992949</p>
          <ion-icon name="logo-whatsapp" class="whatsapp"></ion-icon>
        </span>
        <span>
          <ion-icon name="call"></ion-icon>
          <p>+58 412-0990777</p>
          <ion-icon name="logo-whatsapp" class="whatsapp"></ion-icon>
        </span>
      </div>
    </ion-card>
    <ion-card>
      <div class="title">
        <span>
          <p>MONAGAS</p>
        </span>
      </div>
      <div class="info">
        <span>
          <ion-icon name="call"></ion-icon>
          <p>+58 412-9085181</p>
          <ion-icon name="logo-whatsapp" class="whatsapp"></ion-icon>
        </span>
      </div>
    </ion-card>
    <ion-card>
      <div class="title">
        <span>
          <p>GENERAL</p>
        </span>
      </div>
      <div class="info">
        <span>
          <ion-icon name="call"></ion-icon>
          <p>+58 412-0966865</p>
          <ion-icon name="logo-whatsapp" class="whatsapp"></ion-icon>
        </span>
      </div>
    </ion-card>
  </main>
</ion-content>
