.configuration {
  width: 50px;
  height: 50px;
  background-color: transparent;
  position: absolute;
  z-index: 99;
}

main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--main-white);
  .content-abc {
    width: 100%;
    height: 100%;
    background-color: var(--main-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 15px 15px 0px;
    .spectacular {
      $icon-count: 50;
      $colors: var(--main-1), var(--main-2), var(--main-2), var(--main-2),
        var(--main-light-1), var(--main-light-1), var(--main-light-3),
        var(--main-light-3), var(--c-secondary-lite), var(--success-main),
        var(--success-main);

      @function random_range($min, $max) {
        $rand: random();
        $random_range: $min + floor($rand * (($max - $min) + 1));
        @return $random_range;
      }

      @function sample($list) {
        @return nth($list, random(length($list)));
      }

      .icon {
        position: absolute;
        left: var(--icon-left-offset);
        bottom: -75%;
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 50%;

        animation: floatUp var(--icon-float-duration) var(--icon-float-delay)
          ease-in infinite;

        .iconWrapper {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          animation: swayLeftToRight var(--icon-sway-duration)
            var(--icon-sway-delay) ease-in-out alternate infinite;

          display: flex;
          align-items: center;
          justify-content: center;

          ion-icon {
            color: var(--icon-color);
            font-size: var(--icon-font-size);
          }
        }

        @for $i from 0 through $icon-count {
          &:nth-child(#{$i}) {
            --icon-font-size: #{random_range(5rem, 10rem)};
            --icon-color: #{sample($colors)};

            --icon-left-offset: #{random_range(0vw, 100vw)};
            --icon-float-duration: #{random_range(20s, 40s)};
            --icon-sway-duration: #{random_range(6s, 10s)};
            --icon-float-delay: #{random_range(0s, 10s)};
            --icon-sway-delay: #{random_range(0s, 4s)};
          }
        }
      }

      @keyframes floatUp {
        to {
          transform: translateY(-175vh);
          opacity: 0;
        }
      }

      @keyframes swayLeftToRight {
        from {
          transform: translateX(-100%);
        }

        to {
          transform: translateX(100%);
        }
      }
    }
    .content-image {
      width: 200px;
      height: 190px;
    }
  }

  .content-login {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-white);
    .content-header {
      width: 70%;
      height: 90px;
      background-color: transparent;
      border-radius: 10px;
      // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      //   0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      margin-bottom: 20px;
      z-index: 99;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      padding: 10px;
      align-items: center;
      h1 {
        font-size: 35px;
        font-weight: bold;
        margin: 0;
        margin-top: 10px;
        color: var(--main-blue);
      }
      p {
        color: var(--main-blue);
      }
      img {
        width: 180px;
        height: 80px;
      }
    }

    .content-card {
      width: 70%;
      height: 285px;
      z-index: 99;
      background-color: transparent;
      border-radius: 10px;
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      align-content: center;
      .card {
        width: 100%;
        height: 50px;
        padding: 5px;
        background-color: transparent;
        border: 2px solid var(--main-blue);
        position: relative;
        border-radius: 25px;
        margin: 5px;
        margin-top: 15px;
        label {
          background-color: rgba(255, 255, 255, 0.966);
          font-size: 16px;
          color: var(--main-blue);
          padding: 2px;
          position: absolute;
          top: -15px;
          display: flex;
          align-items: center;
          margin-left: 10px;
          ion-icon {
            font-size: 18px;
            margin-right: 3px;
          }
        }
        input {
          width: 100%;
          height: 100%;
          color: var(--main-blue);
          border: none;
          background-color: transparent;
          font-size: 14px;
          &:focus {
            outline: none;
          }
        }
        &:focus-within {
          transition: all 0.2s;
          border-color: transparent; /* Oculta el borde original */
          box-shadow: 0 0 2px 2px var(--success-main);
        }
      }
      .changePassword {
        cursor: pointer;
        margin-top: 5px;
      }
      .column2 {
        grid-column: span 2;
      }
    }
    .content-button {
      width: 70%;
      height: 50px;
      --background: rgb(40, 43, 48);
      --background: linear-gradient(to right, var(--main-blue), #707070);
      --border-radius: 25px;
      --box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      z-index: 99;
      margin-top: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: transform 0.3s ease, box-shadow 0.4s ease;
      p {
        font-size: 18px;
      }
      &:hover {
        transform: scale(1.025);
        box-shadow: 0 8px 25px rgba(19, 43, 57, 0.2);
      }
    }
  }
}
