main {
  width: 100%;
  height: 100%;
  background-color: var(--c-principal-othe);
  border-radius: 10px;
  .header {
    width: 100%;
    height: 60px;
    padding: 10px;
    display: flex;
    div {
      width: 100%;
      height: 100%;
      background-color: var(--main-light-3);
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 100%;
        color: black;
        cursor: pointer;
      }
      &:hover {
        background-color: var(--main-2);
        span {
          color: white;
        }
      }
    }
    .headerSelected {
      background-color: var(--marine-water);
      span {
        color: white !important;
      }
      border-radius: 5px;
    }
  }

  .section-filter {
    width: 100%;
    height: calc(100% - 60px);
    padding: 10px;
    .form {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      .card {
        width: 100%;
        height: 40px;
        padding: 5px;
        background-color: transparent;
        border: 2px solid var(--main-light-3);
        position: relative;
        border-radius: 5px;
        margin: 5px;
        label {
          background-color: var(--c-principal-othe);
          font-size: 14px;
          color: white;
          padding: 2px;
          position: absolute;
          top: -11px;
          display: flex;
          align-items: center;
          ion-icon {
            font-size: 17px;
            margin-right: 3px;
          }
        }
        input {
          width: 100%;
          height: 100%;
          color: white;
          border: none;
          background-color: var(--c-principal-othe);
          font-size: 14px;
          &:focus {
            outline: none;
          }
        }
        &.selector {
          --border-radius: 0px !important;
          --width: 70%;
          --height: 300px;
        }
      }
    }
    .list {
      width: 100%;
      height: calc(100% - 70px);
      margin-top: 10px;
      background-color: var(--c-principal-othe);
      display: grid;
      overflow: auto;
      border-radius: 5px;
      align-content: flex-start;
      .grid {
        width: 100%;
        height: 100%;
        grid-template-rows: auto;
        display: grid;
        grid-template-columns: 150px 150px 150px 200px 150px minmax(800px, 1fr);
        grid-template-areas: "estado fEmission tipoDocumento acquirer nmrDocument message";
        &__acquirer,
        &__bpartner,
        &__serie,
        &__nmrDocument,
        &__message,
        &__nmrControl,
        &__fEmission,
        &__fEmissionDig,
        &__tipoDocumento,
        &__estado {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &__bpartner {
          grid-area: bpartner;
        }
        &__serie {
          grid-area: serie;
        }
        &__nmrDocument {
          grid-area: nmrDocument;
        }
        &__message {
          grid-area: message;
          font-size: 8px !important;
        }
        &__fEmission {
          grid-area: fEmission;
        }

        &__estado {
          grid-area: estado;
        }
        &__tipoDocumento {
          grid-area: tipoDocumento;
        }
        &:nth-child(odd) {
          width: 100%;
          background-color: var(--main-2) !important;
        }

        &:nth-child(even) {
          width: 100%;
          background-color: var(--main-1) !important;
        }
        &.columns-head {
          color: whitesmoke;
          height: 40px !important;
          font-size: 13px;
          background-color: transparent !important;
        }
        &.items {
          margin: 0;
          padding: 0;
          font-size: 13px;
          height: 40px !important;
          &:hover {
            background-color: var(--main-light-1) !important;
          }
        }
        span {
          border-bottom: 1px solid var(--main-light-3);
          color: white;
          text-align: center;
          width: auto;
          select {
            border: none;
            background-color: transparent;
            color: white;
            padding: 5px 10px;
          }
          ion-icon {
            font-size: 20px;
          }
          div {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 !important;
            width: auto;
            height: 20px !important;
            border-radius: 5px;
            font-size: 12px;
            // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
            //   0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            p {
              margin: 0;
              padding: 3px 8px;
              border-radius: 10px;
            }
          }
        }
        .anulado {
          background: var(--success-main);
        }
        .noAnulado {
          background: var(--danger);
        }
        .factura {
          background-color: forestgreen;
        }
        .credito {
          background-color: yellow;
          color: black;
        }
        .debito {
          background-color: dodgerblue;
        }
        .despacho {
          background-color: chocolate;
        }
        .entrega {
          background-color: orange;
          color: black;
        }
        .retencion {
          background-color: purple;
        }
      }
      .columns6 {
        grid-column: span 6;
      }
      .productSelected {
        background-color: var(--ion-color-warning) !important;
        span {
          color: white !important;
        }
      }
    }
  }
}
