<section class="main">
  <div>
    <img
      src="assets/images/galery/1.svg"
      alt="Facturación Digital"
      loading="lazy"
    />
    <p>Automatización</p>
    <span>Generación y envío automáticos de facturas</span>
  </div>
  <div>
    <img
      src="assets/images/galery/2.svg"
      alt="Facturación Digital"
      loading="lazy"
    />
    <p>Facturación Digital</p>
    <span
      >La facturación digital es la solución moderna y eficiente para gestionar
      tus facturas de forma electrónica.</span
    >
  </div>
  <div>
    <img
      src="assets/images/galery/3.svg"
      alt="Facturación Digital"
      loading="lazy"
    />
    <p>Seguimiento</p>
    <span
      >Control en tiempo real del estado de tus facturas (pagas, pendientes,
      vencidas).</span
    >
  </div>
</section>
