section {
  width: 100%;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  padding: 5rem 0rem;
  div {
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.12);
    padding: 30px 10px;
    margin: 0;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    p {
      margin: 0;
      padding: 0;
      font-weight: 500;
    }
    span {
      font-size: 13px;
    }
    img {
      width: 200px;
      height: 200px;
      margin: 0;
      padding: 0;
    }
    &:hover {
      transform: scale(1.1);
      box-shadow: 0 8px 25px rgba(19, 43, 57, 0.2);
    }
  }
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    gap: 1rem;
    div {
      width: 300px;
      margin-top: 20px;
      &:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 25px rgba(19, 43, 57, 0.2);
      }
    }
  }
}
