.header {
  width: 100%;
  height: 80px;
  color: black;
  background-color: var(--main-white);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.12);
  padding: 0px 10px;
  position: fixed;
  top: 0;
  z-index: 1000;
  .container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    img {
      width: 100px;
      height: 80px;
    }
    div {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      cursor: pointer;
      nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: right;

        p,
        a {
          display: flex;
          align-items: center;
          color: var(--main-blue);
          margin-left: 1rem;
          text-decoration: none;
          margin-left: 30px;
          padding: 0;
          font-size: 14px;
          fa-icon {
            color: var(--main-blue-1);
            font-size: 20px;
            margin-right: 5px;
          }
          &:hover {
            font-size: 15px;
            font-weight: bold;
            transition: all 0.2s;
          }
        }
        .active-link {
          font-weight: bold;
          color: #3f51b5;
          border-bottom: 2px solid #3f51b5;
        }
        a {
          padding: 3px 10px;
          border-radius: 5px;
          background-color: var(--main-blue);
          color: white;
          font-weight: 500;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .header {
    height: 70px;
    .container {
      img {
        width: 70px;
        height: 70px;
      }
    }
  }
}
@media (max-width: 500px) {
  .header {
    height: 60px;
    .container {
      img {
        width: 60px;
        height: 60px;
      }
      div {
        nav {
          p,
          a {
            font-size: 13px;
            fa-icon {
              display: none;
            }
          }
        }
      }
    }
  }
}
