<main>
  <section class="top-menu">
    <div class="title">
      <img src="assets/img/logo2.png" class="round-image" />
    </div>

    <div class="user">
      <button class="call" (click)="openModalContact()">
        <ion-icon name="call"></ion-icon>
      </button>
      <div (click)="showProfile($event)">
        <ion-icon name="person"></ion-icon>
        <p>{{ authService.user.user.usuario }}</p>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="content-card">
      <div class="card-select" (click)="changePage('contribuyente')">
        <ion-icon name="person-outline"></ion-icon>
        <p>Contribuyente</p>
      </div>
      <div class="card-select" (click)="changePage('imprenta')">
        <ion-icon name="documents-outline"></ion-icon>
        <p>Imprenta Digital</p>
      </div>
    </div>
    <div class="content-out">
      <button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
        <p>Cerrar sesión</p>
      </button>
    </div>
  </section>
</main>
