.view-content-profile {
  .header {
    width: 100%;

    padding: 1rem;

    box-shadow: none !important;
    --box-shadow: none !important;
    background-color: var(--main-blue);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 20px 0px 20px;
    .content {
      width: 100%;
      height: 80%;
      background-color: var(--main-white);
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      border-radius: 30px 30px 0px 0px;
      .contentIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -25px;
        background-color: var(--main-blue);
        border-radius: 0px 0px 50% 50%;
        width: 80px;
        height: 80px;
        ion-icon {
          padding: 15px;
          border-radius: 50%;
          background-color: var(--main-white);
          font-size: 25px;
          color: var(--main-blue);
        }
      }
      .perfil {
        font-weight: 700;
        font-size: 15px;
        color: var(--main-blue);
      }
      // &::after {
      //   content: "";
      //   background: transparent;
      // }

      .user {
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        color: var(--main-blue);
      }
    }
  }

  .main {
    padding: 0.5rem;
    background-color: var(--c-principal-othe);
    &__option {
      margin-bottom: 0.75rem;
      font-size: 1rem;

      display: flex;
      justify-content: flex-end;
      align-items: center;

      transition: all 0.3s ease;

      cursor: pointer;
      color: var(--danger);
      &:last-child {
        margin-bottom: 0;
      }

      ion-icon {
        margin-left: 5px;
        font-size: 1.5rem;
      }
    }
  }
}
