@use "@angular/material" as mat;
@include mat.core();

$ABCPrintingDigital-landing-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

:root {
  @include mat.all-component-themes($ABCPrintingDigital-landing-theme);
}

@import "./assets/variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Nunito";
  src: url("assets/fonts/nunito/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "Nunito", sans-serif;
  line-height: 1.6;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  width: 5px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: gray;
  width: 5px;
  border-radius: 25px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
.inner-scroll {
  scrollbar-width: thin;
  width: 5px;
}
// ? toast
.success-snackbar {
  border-radius: 10px;
  background: #4caf50 !important;
  color: white;
}
// ? home
.home {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  padding: 5rem 10rem;
  .info {
    display: flex;
    flex-direction: column;
    width: 100%;
    p,
    span,
    button {
      margin-top: 20px;
    }
    .title {
      font-size: 35px;
      font-weight: 400;
    }
    .seniat {
      color: gray;
    }
    p {
      display: flex;
      align-items: center;
      fa-icon {
        font-size: 20px;
        margin-right: 15px;
      }
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.12);
      font-size: 16px;
      padding: 10px;
      border: none;
      background-color: var(--main-blue);
      color: white;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease,
        transform 0.3s ease;
      fa-icon {
        font-size: 20px;
        margin-right: 10px;
      }
      p {
        margin: 0;
        padding: 0;
      }
      &:hover {
        background-color: var(--main-success);
        transform: translateY(-3px);
        box-shadow: 0 6px 15px rgba(19, 43, 57, 0.25);
      }
    }
  }
  .content-img {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    img {
      width: 350px;
      height: 350px;
    }
  }
  &.rigth {
    .content-img {
      justify-content: right;
    }
  }
}
@media (max-width: 1200px) {
  .home {
    padding: 5rem 5rem;
  }
}
@media (max-width: 1024px) {
  .home {
    padding: 5rem 2.5rem;
  }
}
@media (max-width: 768px) {
  .main {
    flex-direction: column;
    gap: 1rem;
    .content-img {
      justify-content: center !important;
    }
  }
}

// ? DOCS
.docs {
  width: 100%;
  padding: 1rem 0rem;
  .title {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    fa-icon {
      margin-right: 10px;
      font-size: 30px;
    }
    p {
      font-size: 25px;
      font-weight: 500;
    }
  }
  .content-info {
    width: 100%;
    margin-top: 20px;
    .type {
      display: flex;
      align-items: center;
      p {
        background-color: var(--main-blue);
        color: white;
        padding: 10px 30px;
        border-radius: 0px 20px 20px 0px;
      }
      span {
        margin-left: 10px;
      }
    }
    .table-header {
      width: 100%;
      border-radius: 20px;
      color: var(--main-white);
      margin-top: 20px;
      .title {
        width: 100%;
        height: 45px;
        background-color: var(--main-dark);
        border-radius: 10px 10px 0px 0px;
        p {
          font-size: 18px;
          font-weight: 500;
          padding: 10px;
        }
      }
      .header {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: var(--main-blue);
        border-bottom: 1px lid var(--main-white);
        padding: 10px;
        span {
          font-size: 14px;
          font-weight: 500;
        }
      }
      .fields {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: var(--main-blue);
        padding: 10px;
        border-radius: 0px 0px 10px 10px;

        span {
          padding: 5px;
          border-top: 1px solid white;
          font-size: 13px;
        }
      }
    }
    .table-request {
      width: 100%;
      height: auto;
      border-radius: 20px;
      color: var(--main-white);
      margin-top: 20px;
      .title {
        width: 100%;
        height: 45px;
        background-color: var(--main-dark);
        border-radius: 10px 10px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        p {
          font-size: 15px;
          font-weight: 300;
        }
        button {
          padding: 5px;
          font-weight: 500;
          font-size: 14px;
          border-radius: 5px;
          background-color: var(--main-success);
          color: white;
          border: none;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12),
            0 6px 6px rgba(0, 0, 0, 0.12);
        }
      }

      .json {
        width: 100%;
        height: auto;
        max-height: 600px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: var(--main-blue);
        border-radius: 0px 0px 10px 10px;
        padding: 10px;
        overflow-y: scroll;

        pre {
          font-size: 13px;
          padding: 1rem;
          border-radius: 4px;
          font-family: "Courier New", monospace;
          .json-key {
            color: cyan; /* Un color púrpura/violeta, más legible que el rojo */
            font-weight: bold;
          }
        }
      }
    }
  }
}
