<section class="main home rigth">
  <div class="info">
    <span class="title">Imprenta Digital</span>
    <span>¡Trabajo Digital Optimizado!</span>
    <span class="seniat"
      >Autorizados como Imprenta Digital bajo la Providencia SENIAT/INTI/0012 de
      fecha 17/01/2024.</span
    >
    <p>
      <fa-icon [icon]="clockIcon"></fa-icon>
      Agilidad y eficiencia
    </p>
    <p>
      <fa-icon [icon]="walletIcon"></fa-icon>
      Reducción de costos
    </p>
    <p>
      <fa-icon [icon]="downloadIcon"></fa-icon>
      Mayor seguridad y control
    </p>
    <button>
      <fa-icon [icon]="sendIcon"></fa-icon>
      <p>Contáctanos</p>
    </button>
  </div>
  <div class="content-img">
    <img src="assets/images/galery/greating.svg" alt="" loading="lazy" />
  </div>
</section>
