<section class="main home rigth">
  <div class="info">
    <span class="title">Configuración rápida</span>
    <span class="seniat"
      >Puedes comenzar a usar la facturación digital en poco tiempo, gracias a
      un proceso de configuración sencillo.</span
    >
    <p>
      <fa-icon [icon]="clockIcon"></fa-icon>
      Reducción del tiempo de implementación
    </p>
    <p>
      <fa-icon [icon]="userIcon"></fa-icon>
      Mayor facilidad de uso
    </p>
    <p>
      <fa-icon [icon]="shieldIcon"></fa-icon>
      Menor riesgo de errores
    </p>
    <button>
      <fa-icon [icon]="sendIcon"></fa-icon>
      <p>Contáctanos</p>
    </button>
  </div>
  <div class="content-img">
    <img
      src="assets/images/galery/5.svg"
      alt="Facturación Digital"
      loading="lazy"
    />
  </div>
</section>
