<ion-header class="headerModal">
  <ion-toolbar>
    <ion-title slot="start">Crear secuencia</ion-title>
    <ion-icon name="close-outline" slot="end" (click)="closeModal()"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <main class="modal-add">
    <section>
      <div class="card selector" [class.invalid]="!valid.isOrgValid">
        <label>Organización</label>
        <input
          type="text"
          readonly
          (keyup.F2)="selectorOrg()"
          (dblclick)="selectorOrg()"
          [(ngModel)]="selectors.org.name"
          (focusout)="validateField('org_id')"
          #org
        />
        <ion-icon name="search-outline"></ion-icon>
      </div>
      <div class="card selector" [class.invalid]="!valid.isSerieValid">
        <label>Serie</label>
        <input
          type="text"
          readonly
          (keyup.F2)="selectorSerie()"
          (dblclick)="selectorSerie()"
          [(ngModel)]="selectors.serie.numero"
          (focusout)="validateField('serie_id')"
          #org
        />
        <ion-icon name="search-outline"></ion-icon>
      </div>
      <div class="card normal" [class.invalid]="!valid.isNameValid">
        <label>Nombre</label>
        <input
          type="text"
          [(ngModel)]="form.name"
          (focusout)="validateField('name')"
          #name
        />
      </div>

      <div class="card normal columns2">
        <label>Descripcion</label>
        <input type="text" [(ngModel)]="form.description" />
      </div>
      <div class="card check">
        <p>Por defecto</p>
        <ion-checkbox [(ngModel)]="form.is_default" color="success">
        </ion-checkbox>
      </div>
      <div class="card selector" [class.invalid]="!valid.isPrefixValid">
        <label>Prefijo</label>
        <input
          type="text"
          readonly
          (keyup.F2)="selectorPrefix()"
          (dblclick)="selectorPrefix()"
          [(ngModel)]="selectors.prefix.name"
          (focusout)="validateField('prefix_id')"
        />
        <ion-icon name="search-outline"></ion-icon>
      </div>
      <div class="card normal" [class.invalid]="!valid.isSuffixValid">
        <label>Sufijo</label>
        <input
          type="text"
          [(ngModel)]="form.suffix"
          (focusout)="validateField('suffix')"
        />
      </div>
      <div class="card normal" [class.invalid]="!valid.isStartnoValid">
        <label>Numero de inicio</label>
        <input
          type="number"
          [(ngModel)]="form.startno"
          (focusout)="validateField('startno')"
        />
      </div>

      <div class="card normal" [class.invalid]="!valid.isMaxquantityValid">
        <label>Cantidad de documentos</label>
        <input
          type="number"
          [(ngModel)]="form.maxquantity"
          (focusout)="validateField('maxquantity')"
        />
      </div>
    </section>
  </main>

  <section class="bottomModal" (click)="setDataSequence()">
    <button>Guardar</button>
  </section>
</ion-content>
